.material-symbols-outlined {
  font-variation-settings:
    "FILL" 0,
    "wght" 400,
    "GRAD" 0,
    "opsz" 40;
}

@font-face {
  font-family: "Montserrat-Bold";
  src: url("../fonts/Montserrat-Bold.ttf");
}
@font-face {
  font-family: "Montserrat-Regular";
  src: url("../fonts/ .ttf");
}
@font-face {
  font-family: "Montserrat-SemiBold";
  src: url("../fonts/Montserrat-SemiBold.ttf");
}
@font-face {
  font-family: "Poppins-Bold";
  src: url("../fonts/Poppins-Bold.ttf");
}
@font-face {
  font-family: "Poppins-SemiBold";
  src: url("../fonts/Poppins-SemiBold.ttf");
}
@font-face {
  font-family: "BebasNeue-Bold";
  src: url("../fonts/BebasNeue-Bold.ttf");
}
@font-face {
  font-family: "Poppins-Black";
  src: url("../fonts/Poppins-Black.ttf");
}
@font-face {
  font-family: "Montserrat-Light";
  src: url("../fonts/Montserrat-Light.ttf");
}
@font-face {
  font-family: "Poppins-Regular";
  src: url("../fonts/Poppins-Regular.ttf");
}
@font-face {
  font-family: "Poppins-BoldItalic";
  src: url("../fonts/Poppins-BoldItalic.ttf");
}

.search-container {
  background-color: #192835;
  height: 30px;
  border-radius: 30px;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.8s;
  color: white;
}

.search-container:hover > .search-input {
  width: 100px;
  border-bottom: 2px solid white;
}

.search-container .search-input {
  background: transparent;
  border: none;
  outline: none;
  width: 0px;
  font-weight: 500;
  font-size: 16px;
  transition: 0.8s;
  color: white;
}
input::placeholder {
  color: white;
}

.search-container .search-btn .fas {
  color: white;
}

.search-container:hover {
  animation: hoverShake 0.15s linear 3;
}

body::-webkit-scrollbar {
  background-color: transparent;
}
body::-webkit-scrollbar-thumb {
  background: linear-gradient(#192835, #213fd1, #192835);
  border-radius: 20px;
}
h1 {
  font-family: "BebasNeue-Bold";
  /* font-size: 1.2rem; */
  color: white;
}
h2 {
  font-family: "BebasNeue-Bold";
  color: #0d2e57;
}
h3 {
  font-family: "BebasNeue-Bold";
}
h4 {
  font-family: "Poppins-Regular";
  color: #3753da;
}
h5 {
  font-family: "Montserrat-Regular";
}
h6,
.dollar {
  font-family: "Poppins-SemiBold";
}
p {
  font-family: "Montserrat-Light";
  color: #7c7c7c;
  font-weight: 600;
}
.btn-click {
  font-family: "Montserrat-SemiBold";
  color: #3753da;
}
header {
  background-image: url("../images/headerbgimg.jpg");
  background-size: cover;
  background-position: center;
  padding-top: 20px;
  /* padding-bottom: 150px; */
}
.portpro {
  background: transparent;
  background-color: #192835;
  color: white;
}

.nav-link {
  font-family: "Poppins-SemiBold";
  color: white;
  text-transform: uppercase;
  font-size: 1.1rem;
}
.nav-link:hover {
  color: rgb(233, 230, 230);
  text-decoration: underline;
}
.nav-link:visited {
  color: white;
}
.fa-bars {
  color: white;
  font-size: 2.5rem;
}
.btn-searchbar {
  color: white;
}
.btn-searchbar:hover {
  color: white;
}
.freeshiping {
  padding: 20px;
  text-align: center;
  color: #8a8a8a;
  border-right: 1px solid #c7c7c7;
}
.freeshiping img {
  font-size: 4.1rem;
}
.manfootballimg {
  background-image: url("../images/manfootballimg.jpg");
  background-size: cover;
  background-position: center;
}
.support-svg {
  margin-top: 50px;
  color: #5c5c5c;
  fill: #5c5c5c;
}

.container-fluid h3 {
  color: white;
  font-family: "Poppins-Black";
}
nav a i {
  color: white;
  font-size: 1.3rem;
}
.nike {
  font-family: "Poppins-Bold";
  text-transform: uppercase;
  color: white;
  font-size: 7.5rem;
  margin-left: 50px;
  margin-top: 180px;
}
.sig-nup {
  font-family: "Montserrat-SemiBold";
  color: white;
  letter-spacing: 6px;
  /* margin-left: 2px; */
  /* margin-top: -30px; */
  /* padding-right: 50px; */
}
.shoes {
  font-family: "Poppins-Bold";
  text-transform: uppercase;
  color: white;
  font-size: 7.5rem;
  margin-top: -60px;
}
.btn-shop {
  padding: 5px 10px;
  background-color: #3954d9;
  color: white;
  margin-top: 20px;
  margin-left: 150px;
  /* margin-right: 100px; */
  margin-bottom: 180px;
}
.btn-shop:hover {
  background-color: #213fd1;
  color: white;
}
.btn-shop2 {
  padding: 5px 10px;
  background-color: #3954d9;
  color: white;
  margin-top: 20px;
  margin-bottom: 100px;

  /* margin-right: 100px; */
}
.btn-shop2:hover {
  background-color: #213fd1;
  color: white;
}
/* container background */
.containerbgclr {
  background-color: white;
  margin-top: -60px;
  box-shadow:
    25px 0px 20px -20px rgba(0, 0, 0, 0.45),
    -25px 0px 20px -20px rgba(0, 0, 0, 0.45);
  /* padding: 50px; */
  position: relative;

  z-index: 1;
  margin-bottom: -60px;
}

.fa-plane-up,
.fa-clock {
  color: #5c5c5c;
  font-size: 2.1rem;
  padding-top: 50px;
}
.panthom {
  background-color: #f2f0f0;
  text-align: center;
}
.panthom span {
  font-family: "Montserrat-Bold";
  color: #213fd1;
  font-size: 2.5rem;
}
.panthom del {
  font-family: "Montserrat-Bold";
}
.offermonth {
  padding-top: 100px;
  color: #7c7c7c;
  font-size: 1.5rem;
  text-transform: uppercase;
}
.grayshoes {
  padding: 20px;
}
.running {
  background-color: #232323;
  color: white;
  padding: 20px;
  padding-top: 60px;
  padding-bottom: 60px;
  /* padding-left: 30px; */
}
.running h3 {
  font-size: 3.1rem;
}
.btn-click2 {
  padding: 5px 10px;
  background-color: #3954d9;
  color: white;
  margin-top: 20px;
}
.bordershoes {
  /* border-right: 1px solid #c7c7c7 ; */
  /* border-bottom: 1px solid #c7c7c7 ; */
  padding: 20px;
  /* height: 270px; */
}
.supportboeder {
  border-top: 1px solid #c7c7c7;
}
.Zoom {
  margin-top: -10px;
}
.runeat {
  /* padding-top: 70px;
    padding-bottom: 70px; */
  padding: 40px;
  color: white;
  text-align: left;
}
.girlimg {
  background-image: url("../images/runeatimg.jpg");
  background-size: cover;
  background-position: center;
}
.glasses {
  padding: 20px;
  padding-top: 60px;
  padding-bottom: 60px;
  border-top: 1px solid #c7c7c7;
  /* border-bottom: 1px solid #c7c7c7 ; */
  /* padding-right: 10px; */
}
.multigreyshoes {
  padding-top: 50px;
}
.dollar {
  color: #213fd1;
  font-weight: bolder;
}
.img1 {
  background-image: url("../images/img1.jpg");
  background-size: cover;
  padding: 150px;
}
.harly {
  padding: 50px;
  border-right: 1px solid #7c7c7c;
  /* border-bottom: 1px solid #7c7c7c; */
}
.adidas {
  padding-top: 50px;
  border-right: 1px solid #7c7c7c;
  margin: 0px;
}
hr {
  margin: 0px;
}
.logoborder {
  border-right: 1px solid #7c7c7c;
  padding: 50px;
}
.shoesborder {
  border-right: 1px solid #7c7c7c;
}

/* footer */
footer {
  background-image: url("../images/footerbg.jpg");
  background-size: cover;
  padding-top: 150px;
  padding-bottom: 100px;
}
footer ul li a {
  color: white;
  text-decoration: none;
  /* margin-top: 10px; */
  line-height: 10px;
}
.searchhere {
  /* padding: 5px 80px; */
  padding: 5px;
  width: 80%;
  border-radius: 10px;
  border: none;
  background-color: #2f2f2f;
  border-radius: 20px;
  color: white;
}
.bgclr {
  color: black;
  background-color: white;
  padding: 10px;
  border-radius: 80px;
}
.btn-success {
  background-color: #3954d9;
  border: none;
  border-radius: 20px;
  padding: 5px 20px;
}

/* .wpmargin{
    
    clear: left;
} */
/* .shoos{
    text-align: center;
} */
@media screen and (max-width: 992px) {
  .navbar-toggler {
    color: white;
  }

  .logoborder,
  .freeshiping,
  .shoesborder {
    border-bottom: 1px solid #7c7c7c;
  }

  .nike,
  .shoes {
    font-size: 5rem;
    padding: 10px 0;
    text-align: center;
    margin: 0;
  }

  h2,
  p {
    text-align: center;
  }

  footer li h4,
  footer a {
    color: white;
    text-decoration: none;
    text-align: center;
  }

  footer ul li h4 {
    color: #213fd1;
  }

  ul {
    padding-inline-start: 0;
  }

  .searchhere {
    text-align: center;
    margin: 0 auto;
    display: block;
  }

  img {
    display: block;
    margin: 0 auto;
  }

  .btn-shop {
    display: block;
    margin: 20px auto;
  }

  .tr {
    margin-top: 50px;
  }

  .socialicon {
    margin-right: 10px;
  }

  .shoos {
    text-align: center;
  }
}

@media screen and (max-width: 380px) {
  .socialicon {
    margin: 0;
  }

  .shoos {
    text-align: center;
  }
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}
